<div class="container">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h1 class="text-center mb-0">Listagem de Jogadores</h1>
    </div>

    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <%= link_to 'Adicionar', new_dashboard_player_path, class: 'btn btn-primary' %>

        <div class="ms-auto">
          <%= form_tag dashboard_players_path, method: :get, class: 'd-flex' do %>
            <%= text_field_tag :search, params[:search], class: 'form-control me-2', placeholder: 'Search' %>
            <%= submit_tag 'Search', class: 'btn btn-secondary' %>
          <% end %>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered border-primary">
          <thead>
            <tr>
              <th class="text-center">##</th>
              <th scope="col">Nome</th>
              <th scope="col">Apelido</th>
              <th scope="col">Camisa</th>
              <th scope="col">Situação</th>
              <th scope="col">Gols</th>
              <th scope="col">Posição</th>
            </tr>
          </thead>
          <tbody>
            <% @players.each do |player| %>
              <tr>
                <td class="text-center">
                  <div class="d-flex justify-content-around align-items-center">
                    <%= link_to dashboard_player_path(player), class: 'btn-link ' do %>
                      <i class="bi bi-eye"></i>
                    <% end %>
                    <%= link_to edit_dashboard_player_path(player), class: 'btn-link' do %>
                      <i class="bi bi-pencil"></i>
                    <% end %>
                  </div>
                </td>
                <td><%= player.name %></td>
                <td><%= player.nickname %></td>
                <td><%= player.shirt_number %></td>
                <td><%= player.status %></td>
                <td><%= player.score_goal %></td>
                <td><%= player.position %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
